/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo da página */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #e7e7e7;
    color: #ffffff;
    line-height: 1.6;
}

/* Cabeçalho */
.header {
    background-color: #242424;
    color: white;
    padding: 20px;
    text-align: center;
    margin-bottom: 30px;
}

.main-title {
    font-size: 2.5em;
    margin-bottom: 22px;
}

/* Menu de navegação */
.menu ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.menu a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.8s ease, background 0.4s ease;
    padding: 10px;
    border-radius: 5px;
}

.menu a:hover {
    color: #000000;
    background: white ;
}

/* Conteúdo principal */
.content {
    max-width: 900px;
    margin: 0 auto;
    padding: 30px;
    background-color: #242424;
    border-radius: 12px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
}

/* Seções de texto */
.text-box {
    margin-bottom: 30px;;
}

.section-title {
    font-size: 1.8em;
    margin-bottom: 15px;
    color: #ffffff;
    text-decoration: underline;
}

.text {
    font-size: 1.1em;
    padding: 10px;
    margin-bottom: 20px;
}


/* Formatação de Imagens */
.image {
    max-width: 50%;
    height: auto;
    border-radius: 10px;
    margin: 0 auto;
    display: block;
}

/* Formatação do Portfólio*/
.title-project{
    text-align: center;
    font-size: 40px;
    margin-bottom: 30px;
}

.bold{
    font-weight: bolder;
}

/* Formatação link para projetos */

.link{
    text-align: center;
    margin: 50px;
    text-decoration: none;
}

.link a{
    text-decoration: none;
    color: #004ef7;
    font-size: 25px;
    font-weight: bolder;
    padding: 5px 15px; 
    border-radius: 50px;
    transition: color 0.2s ease, background 0.3s ease;
}

.link a:hover{
    background: #004ef7;
    color: #fff;
}

/* Formulário de contato */

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-form label {
    font-weight: bold;
}

.contact-form input,
.contact-form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1em;
}

.contact-form button {
    color: rgb(0, 0, 0);
    border: none;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: #0a692e;
}